@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kyle's Deathstar Trash Compactor</h1>
    <p class="lead">
        This application allows for our customers to create a profile to schedule weekly garbage collections at their home!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Customers must register a profile with detailed information about when and where to pick up their trash. An employee will be assigned to their location and confirm pickups on a weekly basis. 
        </p>
    </div>
</div>